// src/scss/components/_buttons.scss
@use "sass:color";

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: $secondary-color;
    color: $text-color;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: none;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none; // Ensure the link looks like a button
    font-size: 14px; // Adjusted for better readability

    &:hover {
        background-color: color.adjust($secondary-color, $lightness: -5%);
        cursor: pointer;
    }

    &.download-cv {
        margin-left: -5px 15px 0px 15px;

        /* Use Flexbox to center content */
        display: flex;
        align-items: center;
        justify-content: center;

        /* Adjust padding for better size */
        padding: 8px 12px;

        /* Optional: Adjust font-size if needed */
        font-size: 14px;

        /* Optional: Add a slight border for distinction */
        border: 1px solid color.adjust($secondary-color, $lightness: 10%);
        width: 20%;

        @media (max-width: 780px) {
            width: 30%;
        }

    }
}