$primary-color: #00adb5;
$background-color: #121212;
$text-color: #fff;
$navbar-bg: #1a1a1a;
$section-bg: #181818;
$card-bg: #2a2a2a;

$gradient-start: #f200ff;
$gradient-end: #9d00ff;

$font-family: 'Helvetica', sans-serif;