footer {
    background-color: $background-color;
    color: $text-color;
    padding: 20px 0;

    .social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        a {
            margin: 0 10px;
            display: inline-block;
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 24px;
                height: 24px;
                filter: brightness(0) invert(1);
            }
        }
    }

    p {
        text-align: center;
        font-size: 14px;
    }
}